<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
	<property resource="properties/logback.properties" />
	<jmxConfigurator />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{30} %M %L - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="sqlFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${sql.log.file.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${sql.log.file.name}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="dealerPwdFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${dealerpwd.log.file.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${dealerpwd.log.file.name}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="smsfail" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${smsfail.log.file.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${smsfail.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="homeOrderPushFailAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${homeOrderPushFail.log.file.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${homeOrderPushFail.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 180 days' worth of history -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level [%-20thread] %logger{20} [%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="unPayOrderInvalidFailAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${unPayOrderInvalidFail.log.file.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${unPayOrderInvalidFail.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 180 days' worth of history -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level [%-20thread] %logger{20} [%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="sessionAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${session.log.file.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${session.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="allFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${all.log.file.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${all.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>200mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="asyncAll" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>10240</queueSize>
		<appender-ref ref="allFile" />
	</appender>

	<appender name="dataTransport" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${dataTran.log.file.name}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${dataTran.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="bizSignOn" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${bizSignOn.log.file.name}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${bizSignOn.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="tenYearService" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${tenyear.log.file.name}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${tenyear.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="pushService" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${push.log.file.name}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${push.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="threadService" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${thread.log.file.name}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${thread.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="appConfService" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${appconf.log.file.name}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${appconf.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="scheduledTaskService" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${scheduledtask.log.file.name}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${scheduledtask.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="asyncAll" />
	</root>

	<logger name="com.athm">
		<level value="DEBUG" />
		<appender-ref ref="stdout"></appender-ref>
	</logger>

	<logger name="com.athm.framework.cache">
		<level value="INFO" />
	</logger>

	<!-- 需要记录日志的包 -->
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false">
		<level value="${log.sql.parameter.trace}" />
		<appender-ref ref="sqlFile" />
		<appender-ref ref="stdout"></appender-ref>
	</logger>

	<logger name="org.hibernate.SQL" additivity="false">
		<level value="${log.sql.parameter.trace}" />
		<appender-ref ref="sqlFile" />
		<appender-ref ref="stdout"></appender-ref>
	</logger>
	<logger name="org.hibernate.cache">
		<level value="WARN" />
	</logger>

	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>

	<!-- 经销商修改密码专用日志 -->
	<logger name="dealer_pwd_log">
		<level value="INFO" />
		<appender-ref ref="dealerPwdFile" />
	</logger>

	<!-- 短信发送失败专用日志 -->
	<logger name="asyncSmsfailLOGGER">
		<level value="INFO" />
		<appender-ref ref="smsfail" />
	</logger>

	<!-- 上门订单推送失败日志 -->
	<logger name="homeOrderPushFailLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="homeOrderPushFailAppender" />
	</logger>

	<logger name="unPayOrderInvalidFailLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="unPayOrderInvalidFailAppender" />
	</logger>

	<!-- Session信息记录日志 -->
	<logger name="sessionLogger">
		<level value="INFO" />
		<appender-ref ref="sessionAppender" />
	</logger>

	<logger name="DataTransportWork" additivity="false">
		<level value="trace" />
		<appender-ref ref="dataTransport" />
	</logger>

	<logger name="BizSignOn" additivity="false">
		<level value="trace" />
		<appender-ref ref="bizSignOn" />
	</logger>
	<logger name="TenYearService" additivity="false">
		<level value="trace" />
		<appender-ref ref="tenYearService" />
	</logger>
	<logger name="PushService" additivity="false">
		<level value="trace" />
		<appender-ref ref="pushService" />
	</logger>
	<logger name="ThreadService" additivity="false">
		<level value="trace" />
		<appender-ref ref="threadService" />
	</logger>
	<logger name="AppConfService" additivity="false">
		<level value="trace" />
		<appender-ref ref="appConfService" />
	</logger>
	<logger name="ScheduledTaskService" additivity="false">
		<level value="trace" />
		<appender-ref ref="scheduledTaskService" />
	</logger>

	<logger name="com.autohome">
		<level value="INFO" />
		<appender-ref ref="stdout"></appender-ref>
	</logger>
	<logger name="org.jasig.cas">
		<level value="TRACE" />
		<appender-ref ref="stdout"></appender-ref>
	</logger>
</configuration>